<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature android:name="android.hardware.telephony" android:required="true" />

<!--    <supports-screens-->
<!--        android:anyDensity="true"-->
<!--        android:largeScreens="false"-->
<!--        android:normalScreens="true"-->
<!--        android:smallScreens="true"-->
<!--        android:xlargeScreens="false" />-->

<!--    <compatible-screens>-->
<!--        &lt;!&ndash; all small size screens &ndash;&gt;-->
<!--        <screen android:screenSize="small" android:screenDensity="ldpi" />-->
<!--        <screen android:screenSize="small" android:screenDensity="mdpi" />-->
<!--        <screen android:screenSize="small" android:screenDensity="hdpi" />-->
<!--        <screen android:screenSize="small" android:screenDensity="xhdpi" />-->
<!--        &lt;!&ndash; all normal size screens &ndash;&gt;-->
<!--        <screen android:screenSize="normal" android:screenDensity="ldpi" />-->
<!--        <screen android:screenSize="normal" android:screenDensity="mdpi" />-->
<!--        <screen android:screenSize="normal" android:screenDensity="hdpi" />-->
<!--        <screen android:screenSize="normal" android:screenDensity="xhdpi" />-->
<!--    </compatible-screens>-->

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.PaperScan"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.PaperScan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>